<section class="firstSection">
  <header>
    <nav class="navbar navbar-expand-lg contain">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="babySweet" src="assets/babysweet.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 ms-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Find Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Find a Nany</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">For Parents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>


          </ul>
          <img class="bell" src="assets/bell.png" alt="">

          <div class="bellDiv">
            <div>

              <img class="flower" src="assets/florence.png" alt="">
            </div>
            <div class="florenceDiv">
              <p class="florence"> Florence D.</p>
              <p class="nanny">Nanny</p>
            </div>


          </div>

        </div>
      </div>
    </nav>
  </header>
</section>
<section class="secondSection contain">
  <div class="lengthyBox">
    <div class="bellDi">
      <div>

        <img class="flowe" src="assets/florence.png" alt="">
      </div>
      <div class="florenceDi">
        <p class="florenc"> Florence D.</p>
        <p class="nann">Nanny</p>
      </div>


    </div>
    <ul class="userList">
      <div class="activeDiv">
        <div>
          <button class="btn activeJob">Active Job seeker</button>
        </div>
        <div class="switch">
          <input id="checkbox1" class="look" type="checkbox">
          <label for="checkbox1"></label>
        </div>

      </div>
      <li class="active"><img class="user" src="assets/dashboard.png" alt=""><span> User Dashboard</span></li>
      <li><img class="user" src="assets/user.png" alt=""><span>Profile</span></li>
      <li><img class="user" src="assets/job.png" alt=""><span>Applied Jobs</span></li>
      <li><img class="user" src="assets/contactdash.png" alt=""><span> My Contracts</span></li>
      <li><img class="user" src="assets/message.png" alt=""><span> Messages</span></li>
      <li><img class="user" src="assets/logout.png" alt=""><span> Logout</span></li>

    </ul>

  </div>
  <div class="welcomeFlorence">
    <p class="welcome">Welcome <span class="flor">Florence,</span></p>
    <div class="boxDiv">
      <div class="box">
        <div><img src="assets/purplebag.png" alt=""></div>
        <div>
          <div>
            <p class="five">5</p>
          </div>
          <div>
            <p class="applied">Applied Jobs</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div><img src="assets/review.png" alt=""></div>
        <div>
          <div>
            <p class="twentyOne">21</p>
          </div>
          <div>
            <p class="applied">Review</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div><img src="assets/views.png" alt=""></div>
        <div>
          <div>
            <p class="four">4746</p>
          </div>
          <div>
            <p class="applied">Views</p>
          </div>
        </div>
      </div>

    </div>
   <div class="nannyImageDiv">
    <div class="nannyImage">
      <div class="dreamJob">
        Your dream nanny job, just a click away
        - Find it on our BabySweet
       <div> <button class="btn pinkButton">Search for a Job</button></div>
      </div>
      <div>
        <img class="pinkNanny" src="assets/pinkNanny.png" alt="">
      </div>
    </div>
   </div>
  </div>

</section>